.overlay {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   display: grid;
   place-items: center;
   z-index: 1000;
   background: rgba(0, 0, 0, 0.5);
}

.content {
   padding: 2rem;
   border-radius: 8px;
   width: min(90vw, 500px);
   max-height: 80vh;
   overflow-y: auto;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
<<<<<<< HEAD
=======
   color: var(--text-primary);
   background-color: var(--bg-secondary);
   border: 1px solid var(--accent-color);
>>>>>>> dec3814 (fix(theme)/Code refactoring)
}
